* {
    margin: 0;
    padding: 0;
    text-align: center;
  }

/* html { 
    background: url(TravelPhoto.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #pagebuttons {
      display: flex;
      flex-wrap: wrap;
  }

 div {
      color: white;
      font-size: 35px;
      padding-left: 110px;
      margin: 0px;
      margin-top: 90px;
      font-family: Hina Mincho;
  }

.abouttitle {
    font-size: 20px;
    color: white;
    margin: 0px;
    margin-left: 1200px;
    margin-top: -490px;
}

a {
    color: white;
    text-decoration: none;
    font-family: Hina Mincho;
} */

@media screen and (max-width: 400px) {

}