html { 
    background: url(https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.aboutme {
    text-align: center;
    font-family: Hina Mincho;
}

.overallbuttons {
    font-size: 20px;
    color: white;
    margin: 0px;
    margin-left: 1300px;
    margin-top: -110px;
}

a {
    color: black;
    text-decoration: none;
    font-family: Hina Mincho;
}

section {
    font-size: 25px;
}

.introduction {
    font-family: Hina Mincho;
    text-align: center;
    margin: 0px;
    margin-top: -220px;
}

.location-section {
    font-family: Hina Mincho;
    text-align: center;
    margin: 0px;
    margin-top: 1px;
}

.questions-section {
    font-family: Hina Mincho;
    text-align: center;
    margin: 0px;
    margin-top: 1px;
}

h1 {
    font-size: 50px
}