.contactmiddle {
    text-align: center;
    font-family: Hina Mincho;
}

.aboutme {
    text-align: center;
    font-family: Hina Mincho;
}

.overallbuttons {
    font-size: 20px;
    color: white;
    margin: 0px;
    margin-left: 1300px;
    margin-top: -60px;
}

a {
    color: black;
    text-decoration: none;
    font-family: Hina Mincho;
}

body { background:rgb(255, 255, 255); }
form { max-width:420px; margin: -30px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Hina Mincho;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #0b1610; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family:  Hina Mincho;
  width: 100%;
  background:#13312a;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#2b2b2b; }