section {
    height: 500px;
    background-color: yellow;

}

.hero {
    background-color: blue;
    height: 100vh;

}

footer {
    height: 500px;
    background-color: black;
}
/* @media screen and (max-width: 400px) {

} */